.bbp-form div p {
	font-size: 14px !important;
	font-weight: 600 !important;
}

/*media screen*/
#bbpress-forums .status-closed, #bbpress-forums .status-closed a {
	color: #2476bf !important;
}

/*media screen*/
.bbp-topics-front ul.super-sticky, .bbp-topics ul.super-sticky, .bbp-topics ul.sticky, .bbp-forum-content ul.sticky {
	background-color: #ffe5b4 !important;
	font-size: 1.1em !important;
}

/*media screen*/
li.bbp-forum-freshness a, li.bbp-topic-freshness a {
	font-size: 10px !important;
	color: #444 !important !important;
}

#bbpress-forums .status-closed, #bbpress-forums .status-closed a {
	color: #666 !important;
}

/*media screen*/
#bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
	background: transparent !important;
	text-transform: uppercase !important;
	line-height: 20px !important;
	padding: 15px !important;
	font-weight: bold !important;
	font-size: 12px !important;
	text-transform: uppercase !important;
	text-rendering: optimizelegibility !important;
}

/*media screen*/
#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
	background-color: #f4f4f4 !important;
}

/*media screen*/
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
	border-top: 1px solid #ddd !important;
	clear: both !important;
}


/*media screen*/
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log, #bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log, #bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 8px 0 0 !important;
	font-size: 11px !important;
	color: #aaa !important;
}

/*media screen*/
#bbpress-forums li.bbp-footer {
	background: #f3f3f3 !important;
	font-weight: bold !important;
	padding: 8px !important;
	text-align: center !important;
}

/*media screen*/
#bbpress-forums fieldset.bbp-form {
	border: 1px solid #eee !important;
	padding: 0 !important;
	margin-bottom: 10px !important;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
	margin-bottom: 5px !important;
	overflow: hidden !important;
	padding: 20px 15px 15px !important;
}

/*media screen*/
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
	font-size: 12px !important;
	overflow: hidden !important;
	border: none !important;
	margin-bottom: 0 !important;
	clear: both !important;
}

/*media screen*/
#bbp_search {
	display: inline-block !important;
	margin-top: 8px !important;
}

/*bbpress search*/
#bbp-search-form {
	position: relative !important;
}

#bbp_search {
	width: 280px !important;
	height: 32px !important;
	color: #999 !important;
	font-size: 14px !important;
	padding-left: 26px !important;
	line-height: 20px !important;
	border: 2px solid #ddd !important;
}

#bbp-search-form div:after {
	color: #ccc !important;
	line-height: 24px !important;
	font-size: 14px !important;
	content: "\f002" !important;
	position: absolute !important;
	left: 10px !important;
	top: 14px !important;
	font-family: FontAwesome !important;
}
#bbpress-forums div.bbp-forum-author .bbp-author-role, #bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role {
	display: inline-block !important;
}
/*media screen*/
#bbpress-forums div.bbp-topic-content ul, #bbpress-forums div.bbp-reply-content ul, #bbpress-forums div.bbp-topic-content ol, #bbpress-forums div.bbp-reply-content ol {
	margin: 0 24px 15px !important;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content h1, #bbpress-forums div.bbp-reply-content h1, #bbpress-forums div.bbp-topic-content h2, #bbpress-forums div.bbp-reply-content h2, #bbpress-forums div.bbp-topic-content h3, #bbpress-forums div.bbp-reply-content h3, #bbpress-forums div.bbp-topic-content h4, #bbpress-forums div.bbp-reply-content h4, #bbpress-forums div.bbp-topic-content h5, #bbpress-forums div.bbp-reply-content h5, #bbpress-forums div.bbp-topic-content h6, #bbpress-forums div.bbp-reply-content h6 {
	margin-left: 5px !important;
}

/*media screen*/
#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
	border-left: 1px solid #eee !important;
}
/*media screen*/
.bbp-forum-header a.bbp-forum-permalink, .bbp-topic-header a.bbp-topic-permalink, .bbp-reply-header a.bbp-reply-permalink {
	display: none !important;
}

#bbpress-forums ul.sticky li.bbp-topic-title a.bbp-topic-permalink::before, #bbpress-forums ul.super-sticky li.bbp-topic-title a.bbp-topic-permalink::before {
	content: "\f450" !important;
	margin-right: 5px !important;
	float: left !important;
	padding-top: 3px !important;
	background: url(../img/forum-icon-sticky.png) no-repeat !important;
	width: 29px !important;
	height: 29px !important;
}
media screen
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
	max-width: 60px !important;
	max-height: 60px !important;
}

.bbp-author-name {
	font-size: 11px !important;
}

.bbp-author-name {
	font-size: 11px !important;
	display: inline-block !important;
	margin: 0 auto !important;
}
.bbp-remember-me {
    display: inline-block !important;
}
media screen
.bbp-login-form .bbp-username input, .bbp-login-form .bbp-email input, .bbp-login-form .bbp-password input {
    padding: 5px !important;
    float: right !important;
}
media screen
#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
    margin-left: 140px !important;
}
media screen
#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
    width: 135px !important;
}
media screen
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
    display: none !important;
}
.bbp-template-notice {
    border-radius: 0px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
media screen
#bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input {
    margin: 0 0 8px !important;
    margin-left: 5px !important;
}
.bbp-reply-content {
    background: rgba(31, 36, 42, 1);
    margin-right: -15px !important;
}
/*media screen*/
#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
    margin-left: 140px !important;
    padding: 0 !important;
    text-align: left !important;
    background: transparent !important;
}
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    margin-bottom: 5px !important;
    overflow: hidden !important;
    padding: 20px 15px 15px !important;
    color: #000 !important;
}
#bbpress-forums div.bbp-topic-author a.bbp-author-name, #bbpress-forums div.bbp-reply-author a.bbp-author-name {
    color: #3b8dbd !important;
}
/*media screen*/
#bbpress-forums div.bbp-the-content-wrapper {
    margin-bottom: 10px !important;
    border-bottom: 1px solid #ddd !important;
}
/*media all*/
#bbpress-forums div.bbp-the-content-wrapper {
    margin-bottom: 10px !important;
    border: 1px solid #ddd !important;
    margin: 5px !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
}
/*media screen*/
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
    margin-left: 5px !important;
}
.bbp-author-role {
    border-top: 1px solid #ddd !important;
    width: 104% !important;
}
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
    border-top: 1px solid #ddd !important;
    clear: both !important;
    border-bottom: 1px solid #ddd !important;
}
.bbp-attachments-form {
    margin-left: 5px !important;
}
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
    margin-left: 5px !important;
    margin-top: 3px !important;
}

#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
    background-color: rgba(37, 43, 51, 1) !important;
}
.bbp-reply-post-date {
    color: #ddd !important;
}

.bbp-form {
    color: #444 !important;
}
.d4p-bbt-quote-block {
    margin-top: 5px !important;
    padding-top: 20px !important;
    text-align: right !important;
    float: right !important;
    border: 0px !important;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    margin-bottom: 5px !important;
    overflow: hidden !important;
    padding: 20px 15px 15px !important;
    color: #fff !important;
}

/*media screen*/
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
    float: left !important;
    text-align: center !important;
    width: 15% !important;
}

/*media screen*/
li.bbp-forum-freshness, li.bbp-topic-freshness {
    text-align: center !important;
    float: right !important;
    width: 22% !important;
}
.bbp-forum-topic-count {
    border: 1px solid #ddd !important;
    border-radius: 50px !important;
    margin-right: 7px !important;
}
/*media screen*/
li.bbp-forum-info, li.bbp-topic-title {
    float: left !important;
    text-align: left !important;
    width: 45% !important;
}
.bbp-forum-reply-count {
    border: 1px solid #ddd; !important
    border-radius: 50px !important;
}
.bbp-admin-reply .bbp-reply-content {
    background: rgba(35, 50, 72, 1) !important;
    margin-right: -15px !important;
}
.bbp-admin-reply {
    color: #ddd !important;
}
#bbpress-forums .status-closed .bbp-topic-title {
    background: url(../img/locked-icon-white.png) no-repeat no-repeat !important;
    content: "\f450" !important;
    padding-left: 20px !important;
}
/*media screen*/
#bbpress-forums div.bbp-topic-content a, #bbpress-forums div.bbp-reply-content a {
    background: none !important;
    border: none !important;
    display: inline !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #3b8dbd !important;
}
/*media screen*/
#bbpress-forums div.bbp-forum-author .bbp-author-role, #bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role {
    font-size: 12px !important;
}
/*media screen*/
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
    font-size: 12px !important;
}
li.bbp-forum-freshness a, li.bbp-topic-freshness a {
    font-size: 12px !important;
    color: #444 !important !important;
}
/* irk-bf.ru (1, 799) */
#bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
    background: #252b33 !important;
    text-transform: uppercase !important;
    line-height: 20px !important;
    padding: 15px !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    text-rendering: optimizelegibility !important;
    color: #ddd !important;
    border-top: 2px solid #ddd !important;
    border-radius: 1px !important;
}

/* irk-bf.ru (8, 1157) */
#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
    margin-left: 140px !important;
    padding: 0 !important;
    text-align: left !important;
    background: transparent !important;
    border: 0px !important;
}

#bbpress-forums div.even, #bbpress-forums ul.even {
    background-color: #121417 !important;
    color: #ddd !important;
    padding-left: 0px !important;
}

.topic .bbp-admin-reply {
    background-color: rgba(22, 38, 63, 1) !important;
    border-left: 2px solid #1b61bf !important;
}
.bbp-forum-reply-count {
    border: 1px solid #ddd !important;
    border-radius: 50px;
}
.type-forum {
    border: 1px solid #ddd !important;
}
/*media screen*/
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    overflow: hidden;
    padding: 8px;
}
/*media all*/
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    margin-bottom: -1px !important;
}
.bbp-body {
    border: 1px solid #ddd;
}
/*media all*/
media screen #bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
    padding-left: 3px !important;
}
/*media screen*/
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
    margin: 0px !important;
}
.topic .bbp-reply-header {
    margin-top: -2px;
}
#bbpress-forums div.bbp-admin-reply {
    background-color: rgba(22, 38, 63, 1) !important;
}
/*media all*/
#bbpress-forums .bbp-admin-reply .bbp-reply-content {
    background: rgba(35, 50, 72, 1) !important;
    margin-right: -15px !important;
}
.wp-core-ui .quicktags-toolbar input.button.button-small {
    margin: 2px !important;
    border: 0 !important;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 3px 4px -3px rgba(0,0,0,0.3) !important;
}
.avatar {
    border-radius: 10px;
}
/*media screen*/
#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
    background: #252b33 !important;
    color: #ddd !important;
}
div.bbp-template-notice {
    background: url('../img/theme.gif') #191919 !important;
    color: #f1cc9c !important;
    border: 1px solid #494949 !important;
}
/*media screen*/
div.bbp-template-notice a {
    color: #e16405 !important;
}
/*media all*/
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    background: rgba(32, 35, 38, 1) !important;
}
/*media all*/
#bbpress-forums .status-closed, #bbpress-forums .status-closed a {
    color: #ff6e00 !important;
}
.bbp-topic-title a {
    color: #ff6e00 !important;
}

.bbp-forum-info a {
    color: #ff6e00 !important;
}
.bbp-forum-freshness a {
    color: #ff6e00 !important;
}
/*media screen*/
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
    border: 0px !important;
}
/*media all*/
li.bbp-forum-freshness a, li.bbp-topic-freshness a {
    color: #ff6e00 !important;
}
/*media screen*/
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
    margin-bottom: 0px !important;
    border: 2px solid #ddd !important;
}
.bbp-topic-voice-count {
    border: 1px solid #ddd !important;
    border-radius: 50px !important;
    margin-right: 7px !important;
}
.bbp-topic-reply-count {
    border: 1px solid #ddd !important;
    border-radius: 50px !important;
}
/*media all*/
#bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
    width: 100% !important;
}
/*media all*/
#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
    border-top: 2px solid #fff !important;
    margin: 0px !important;
}
/*media all*/
.bbp-body {
    margin-bottom: -3px !important;
}
/*media screen*/
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header, li.bbp-body div.hentry {
    padding: 1px;
}
/*media all*/
#bbpress-forums div.odd, #bbpress-forums ul.odd {
    background-color: #121417 !important;
    color: #ddd;
}
.bbp-form div p {
	font-size: 14px !important;
	font-weight: 600 !important;
}

/*media screen*/
#bbpress-forums .status-closed, #bbpress-forums .status-closed a {
	color: #2476bf !important;
}

/*media screen*/
.bbp-topics-front ul.super-sticky, .bbp-topics ul.super-sticky, .bbp-topics ul.sticky, .bbp-forum-content ul.sticky {
	background-color: #ffe5b4 !important;
	font-size: 1.1em !important;
}

/*media screen*/
li.bbp-forum-freshness a, li.bbp-topic-freshness a {
	font-size: 10px !important;
	color: #444 !important !important;
}

#bbpress-forums .status-closed, #bbpress-forums .status-closed a {
	color: #666 !important;
}

/*media screen*/
#bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
	background: transparent !important;
	text-transform: uppercase !important;
	line-height: 20px !important;
	padding: 15px !important;
	font-weight: bold !important;
	font-size: 12px !important;
	text-transform: uppercase !important;
	text-rendering: optimizelegibility !important;
}

/*media screen*/
#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
	background-color: #f4f4f4 !important;
}

/*media screen*/
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
	border-top: 1px solid #ddd !important;
	clear: both !important;
}


/*media screen*/
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log, #bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log, #bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 8px 0 0 !important;
	font-size: 11px !important;
	color: #aaa !important;
}

/*media screen*/
#bbpress-forums li.bbp-footer {
	background: #f3f3f3 !important;
	font-weight: bold !important;
	padding: 8px !important;
	text-align: center !important;
}

/*media screen*/
#bbpress-forums fieldset.bbp-form {
	border: 1px solid #eee !important;
	padding: 0 !important;
	margin-bottom: 10px !important;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
	margin-bottom: 5px !important;
	overflow: hidden !important;
	padding: 20px 15px 15px !important;
}

/*media screen*/
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results {
	font-size: 12px !important;
	overflow: hidden !important;
	border: none !important;
	margin-bottom: 0 !important;
	clear: both !important;
}

/*media screen*/
#bbp_search {
	display: inline-block !important;
	margin-top: 8px !important;
}

/*bbpress search*/
#bbp-search-form {
	position: relative !important;
}

#bbp_search {
	width: 280px !important;
	height: 32px !important;
	color: #999 !important;
	font-size: 14px !important;
	padding-left: 26px !important;
	line-height: 20px !important;
	border: 2px solid #ddd !important;
}

#bbp-search-form div:after {
	color: #ccc !important;
	line-height: 24px !important;
	font-size: 14px !important;
	content: "\f002" !important;
	position: absolute !important;
	left: 10px !important;
	top: 14px !important;
	font-family: FontAwesome !important;
}
#bbpress-forums div.bbp-forum-author .bbp-author-role, #bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role {
	display: inline-block !important;
}
/*media screen*/
#bbpress-forums div.bbp-topic-content ul, #bbpress-forums div.bbp-reply-content ul, #bbpress-forums div.bbp-topic-content ol, #bbpress-forums div.bbp-reply-content ol {
	margin: 0 24px 15px !important;
	padding: 0;
}

#bbpress-forums div.bbp-topic-content h1, #bbpress-forums div.bbp-reply-content h1, #bbpress-forums div.bbp-topic-content h2, #bbpress-forums div.bbp-reply-content h2, #bbpress-forums div.bbp-topic-content h3, #bbpress-forums div.bbp-reply-content h3, #bbpress-forums div.bbp-topic-content h4, #bbpress-forums div.bbp-reply-content h4, #bbpress-forums div.bbp-topic-content h5, #bbpress-forums div.bbp-reply-content h5, #bbpress-forums div.bbp-topic-content h6, #bbpress-forums div.bbp-reply-content h6 {
	margin-left: 5px !important;
}

/*media screen*/
#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
	border-left: 1px solid #eee !important;
}
/*media screen*/
.bbp-forum-header a.bbp-forum-permalink, .bbp-topic-header a.bbp-topic-permalink, .bbp-reply-header a.bbp-reply-permalink {
	display: none !important;
}

#bbpress-forums ul.sticky li.bbp-topic-title a.bbp-topic-permalink::before, #bbpress-forums ul.super-sticky li.bbp-topic-title a.bbp-topic-permalink::before {
	content: "\f450" !important;
	margin-right: 5px !important;
	float: left !important;
	padding-top: 3px !important;
	background: url(../img/forum-icon-sticky.png) no-repeat !important;
	width: 29px !important;
	height: 29px !important;
}
media screen
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
	max-width: 60px !important;
	max-height: 60px !important;
}

.bbp-author-name {
	font-size: 11px !important;
}

.bbp-author-name {
	font-size: 11px !important;
	display: inline-block !important;
	margin: 0 auto !important;
}
.bbp-remember-me {
    display: inline-block !important;
}
media screen
.bbp-login-form .bbp-username input, .bbp-login-form .bbp-email input, .bbp-login-form .bbp-password input {
    padding: 5px !important;
    float: right !important;
}
media screen
#bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
    margin-left: 140px !important;
}
media screen
#bbpress-forums div.bbp-forum-author, #bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
    width: 135px !important;
}
media screen
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
    display: none !important;
}
.bbp-template-notice {
    border-radius: 0px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}
media screen
#bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input {
    margin: 0 0 8px !important;
    margin-left: 5px !important;
}
.bbp-reply-content {
    background: rgba(31, 36, 42, 1);
    margin-right: -15px !important;
}
/*media screen*/
#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
    margin-left: 140px !important;
    padding: 0 !important;
    text-align: left !important;
    background: transparent !important;
}
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    margin-bottom: 5px !important;
    overflow: hidden !important;
    padding: 20px 15px 15px !important;
    color: #000 !important;
}
#bbpress-forums div.bbp-topic-author a.bbp-author-name, #bbpress-forums div.bbp-reply-author a.bbp-author-name {
    color: #3b8dbd !important;
}
/*media screen*/
#bbpress-forums div.bbp-the-content-wrapper {
    margin-bottom: 10px !important;
    border-bottom: 1px solid #ddd !important;
}
#bbpress-forums div.bbp-the-content-wrapper {
    margin-bottom: 10px !important;
    border: 1px solid #ddd !important;
    margin: 5px !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
}
/*media screen*/
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
    margin-left: 5px !important;
}
.bbp-author-role {
    border-top: 1px solid #ddd !important;
    width: 104% !important;
}
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
    border-top: 1px solid #ddd !important;
    clear: both !important;
    border-bottom: 1px solid #ddd !important;
}
.bbp-attachments-form {
    margin-left: 5px !important;
}
#bbpress-forums div.bbp-forum-author img.avatar, #bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
    margin-left: 5px !important;
    margin-top: 3px !important;
}

#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
    background-color: rgba(37, 43, 51, 1) !important;
}
.bbp-reply-post-date {
    color: #ddd !important;
}

.bbp-form {
    color: #444 !important;
}
.d4p-bbt-quote-block {
    margin-top: 5px !important;
    padding-top: 20px !important;
    text-align: right !important;
    float: right !important;
    border: 0px !important;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    margin-bottom: 5px !important;
    overflow: hidden !important;
    padding: 20px 15px 15px !important;
    color: #fff !important;
}

/*media screen*/
li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
    float: left !important;
    text-align: center !important;
    width: 15% !important;
}

/*media screen*/
li.bbp-forum-freshness, li.bbp-topic-freshness {
    text-align: center !important;
    float: right !important;
    width: 22% !important;
}
.bbp-forum-topic-count {
    border: 1px solid #ddd !important;
    border-radius: 50px !important;
    margin-right: 7px !important;
}
/*media screen*/
li.bbp-forum-info, li.bbp-topic-title {
    float: left !important;
    text-align: left !important;
    width: 45% !important;
}
.bbp-forum-reply-count {
    border: 1px solid #ddd; !important
    border-radius: 50px !important;
}
.bbp-admin-reply .bbp-reply-content {
    background: rgba(35, 50, 72, 1) !important;
    margin-right: -15px !important;
}
.bbp-admin-reply {
    color: #ddd !important;
}
#bbpress-forums .status-closed .bbp-topic-title {
    background: url(../img/locked-icon-white.png) no-repeat no-repeat !important;
    content: "\f450" !important;
    padding-left: 25px !important;
    margin-left: -10px;
}
/*media screen*/
#bbpress-forums div.bbp-topic-content a, #bbpress-forums div.bbp-reply-content a {
    background: none !important;
    border: none !important;
    display: inline !important;
    font-weight: normal !important;
    margin: 0 !important;
    padding: 0 !important;
    color: #3b8dbd !important;
}
/*media screen*/
#bbpress-forums div.bbp-forum-author .bbp-author-role, #bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role {
    font-size: 12px !important;
}
/*media screen*/
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
    font-size: 12px !important;
}
li.bbp-forum-freshness a, li.bbp-topic-freshness a {
    font-size: 12px !important;
    color: #444 !important !important;
}
/* irk-bf.ru (1, 799) */
#bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
    background: #252b33 !important;
    text-transform: uppercase !important;
    line-height: 20px !important;
    padding: 15px !important;
    font-weight: 700 !important;
    font-size: 12px !important;
    text-rendering: optimizelegibility !important;
    color: #ddd !important;
    border-top: 2px solid #ddd !important;
    border-radius: 1px !important;
}

/* irk-bf.ru (8, 1157) */
#bbpress-forums li.bbp-header .bbp-search-content, #bbpress-forums li.bbp-footer .bbp-search-content, #bbpress-forums li.bbp-header .bbp-forum-content, #bbpress-forums li.bbp-footer .bbp-forum-content, #bbpress-forums li.bbp-header .bbp-topic-content, #bbpress-forums li.bbp-footer .bbp-topic-content, #bbpress-forums li.bbp-header .bbp-reply-content, #bbpress-forums li.bbp-footer .bbp-reply-content {
    margin-left: 140px !important;
    padding: 0 !important;
    text-align: left !important;
    background: transparent !important;
    border: 0px !important;
}

#bbpress-forums div.even, #bbpress-forums ul.even {
    background-color: #121417 !important;
    color: #ddd !important;
    padding-left: 0px !important;
}

.topic .bbp-admin-reply {
    background-color: rgba(22, 38, 63, 1) !important;
    border-left: 2px solid #1b61bf !important;
}
.bbp-forum-reply-count {
    border: 1px solid #ddd !important;
    border-radius: 50px;
}
.type-forum {
    border: 1px solid #ddd !important;
}
/*media screen*/
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    overflow: hidden;
    padding: 8px;
}
/*media all*/
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    margin-bottom: -1px !important;
}
.bbp-body {
    border: 1px solid #ddd;
}
/*media all*/
media screen #bbpress-forums div.bbp-forum-content, #bbpress-forums div.bbp-topic-content, #bbpress-forums div.bbp-reply-content {
    padding-left: 3px !important;
}
/*media screen*/
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
    margin: 0px !important;
}
.topic .bbp-reply-header {
    margin-top: -2px;
}
#bbpress-forums div.bbp-admin-reply {
    background-color: rgba(22, 38, 63, 1) !important;
}
/*media all*/
#bbpress-forums .bbp-admin-reply .bbp-reply-content {
    background: rgba(35, 50, 72, 1) !important;
    margin-right: -15px !important;
}
.wp-core-ui .quicktags-toolbar input.button.button-small {
    margin: 2px !important;
    border: 0 !important;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 3px 4px -3px rgba(0,0,0,0.3) !important;
}
.avatar {
    border-radius: 10px;
}
/*media screen*/
#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer {
    background: #252b33 !important;
    color: #ddd !important;
}
div.bbp-template-notice {
    background: url('../img/theme.gif') #191919 !important;
    color: #f1cc9c !important;
    border: 1px solid #494949 !important;
}
/*media screen*/
div.bbp-template-notice a {
    color: #e16405 !important;
}
/*media all*/
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
    background: rgba(32, 35, 38, 1) !important;
}
/*media all*/
#bbpress-forums .status-closed, #bbpress-forums .status-closed a {
    color: #ff6e00 !important;
}
.bbp-topic-title a {
    color: #ff6e00 !important;
}

.bbp-forum-info a {
    color: #ff6e00 !important;
}
.bbp-forum-freshness a {
    color: #ff6e00 !important;
}
/*media screen*/
#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
    border: 0px !important;
}
/*media all*/
li.bbp-forum-freshness a, li.bbp-topic-freshness a {
    color: #ff6e00 !important;
}
/*media screen*/
#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
    margin-bottom: 0px !important;
    border: 2px solid #ddd !important;
}
.bbp-topic-voice-count {
    border: 1px solid #ddd !important;
    border-radius: 50px !important;
    margin-right: 7px !important;
}
.bbp-topic-reply-count {
    border: 1px solid #ddd !important;
    border-radius: 50px !important;
}
/*media all*/
#bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
    width: 100% !important;
}
/*media all*/
#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {
    margin-top: 1px !important;
}
/*media all*/
.bbp-body {
    margin-bottom: -3px !important;
}
#bbpress-forums div.bbp-forum-author .bbp-author-role, #bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role {
    border: 1px solid !important;
    margin-left: 1px !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
/*media screen*/
#bbpress-forums div.bbp-the-content-wrapper input {
    background: rgba(22, 25, 29, 1);
    color: #fff !important;
}
/*media all*/
.quicktags-toolbar {
    background: rgba(38, 44, 51, 1) !important;
}
/*media screen*/
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
    background: rgba(18, 21, 24, 1) !important;
    color: #fff !important;
}
/*media all*/
media screen #bbpress-forums fieldset.bbp-form p, #bbpress-forums fieldset.bbp-form textarea, #bbpress-forums fieldset.bbp-form select, #bbpress-forums fieldset.bbp-form input {
    background: rgba(18, 21, 24, 1);
    color: #fff !important;
    border: 0px !important;
}
/*media screen*/
#bbpress-forums li {
    padding: 0px !important;
}
/*media screen*/
#bbpress-forums fieldset.bbp-form label {
    margin: 0;
    display: inline-block;
    margin-left: 5px;
}
/*media all*/
.status-closed #bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
    background: url(../img/locked-icon-white.png) #252b33 no-repeat 40% !important;
}
/*media screen*/
#bbpress-forums fieldset.bbp-form legend {
    padding: 5px;
    background: #252b33 !important;
}
.page-numbers {
    background: #252b33 !important;
    color: #ddd !important;
}

#bbpress-forums div.odd, #bbpress-forums ul.odd {
    color: #ddd !important;
}

/*media screen*/
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header, li.bbp-body div.hentry {
    margin-bottom: 0px;
    overflow: hidden;
    padding: 0px !important;
}
#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header {

    padding: 10px !important;
}
#bbpress-forums fieldset.bbp-form {
border: 0px !important
}
.bbp-author-role {
border-right: 0px !important;
}
.bbp-form {
color: #ddd !important;
background: #252b33 !important;
}
#bbpress-forums fieldset.bbp-form label {
margin: 0;
display: inline-block;
margin-left: 5px !important;
}
#bbpress-forums ul.sticky li.bbp-topic-title a.bbp-topic-permalink::before, #bbpress-forums ul.super-sticky li.bbp-topic-title a.bbp-topic-permalink::before {
content: "" !important;
}
blockquote {
	padding: 8px !important;
	background: rgba(0,0,0,0.1) !important;
	border: 1px solid rgba(167,167,167,0.3) !important;
	font-style: italic !important;
	border-radius: 1px !important;
margin: 5px !important;
}
.wp-core-ui .quicktags-toolbar input.button.button-small {
    margin: 2px;
    border: 0;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1), 0px 3px 4px -3px rgba(0,0,0,0.3);
    background: url(../img/buttons-textformat.png) !important;
    font-size: 0px !important;
    width: 26px !important;
    background-color: rgba(7, 7, 7, 0.5) !important;
    background-image: url(../img/buttons-textformat-light.png) !important;
    height: 26px !important;
}
#qt_bbp_reply_content_em {
    background-position: -27px 0 !important;
}
#qt_bbp_reply_content_link {
    background-position: -135px 0 !important;
}
#qt_bbp_reply_content_block {
    background-position: -189px 0 !important;
}
#qt_bbp_reply_content_del {
    background-position: -81px 0 !important;
}
#qt_bbp_reply_content_img {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_reply_content_ul {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_reply_content_ol {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_reply_content_li {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_reply_content_code {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_reply_content_close {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_topic_content_em {
    background-position: -27px 0 !important;
}
#qt_bbp_topic_content_link {
    background-position: -135px 0 !important;
}
#qt_bbp_topic_content_block {
    background-position: -189px 0 !important;
}
#qt_bbp_topic_content_del {
    background-position: -81px 0 !important;
}
#qt_bbp_topic_content_img {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_topic_content_ul {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_topic_content_ol {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_topic_content_li {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_topic_content_code {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}
#qt_bbp_topic_content_close {
    width: auto !important;
    font-size: 13px !important;
    background: rgba(7, 7, 7, 0.5) !important;
    color: #fff;
}

.bbp-signature {
    color: #aaa !important;
}
span.bbp-admin-links a {
    font-size: 11px !important;
}
#bbp_reply_submit {
    background: rgba(0,0,0,0.4);
    border: 0px;
    padding: 10px;
    font-size: 16px !important;
    margin: 10px;
    color: #ddd !important;
}
#bbp_topic_submit {
    background: rgba(0,0,0,0.4);
    border: 0px;
    padding: 10px;
    font-size: 16px !important;
    margin: 10px;
    color: #ddd !important;
}
#bbpress-forums li.bbp-footer {
    background: #252b33 !important;
    border: 1px solid !important;
    color: #ddd !important;
}
#bbpress-forums div.bbp-admin-topic {
    background-color: rgba(22, 38, 63, 1) !important;
}
.bbp-admin-topic .topic-author {
    border-left: 2px solid #1b61bf;
}
#bbpress-forums div.bbp-admin-topic {
    background-color: rgba(22, 38, 63, 1) !important;
    background: rgba(22, 38, 63, 1) !important;
    border-left: 2px solid #1b61bf;
    color: #ddd !important;
}
#bbpress-forums div.reply {
    background-color: #121417 !important;
    color: #ddd !important;
}
#bbpress-forums .bbp-forum-status-closed .bbp-forum-title {
    background: url(../img/locked-icon-white.png) no-repeat no-repeat !important;
    padding-left: 25px;
    margin-left: -7px;
}
.status-category .bbp-forum-title {
    font-size: 20px !important;
    cursor: default !important;
    text-decoration: none !important;
    width: 2200% !important;
    float: left;
padding: 10px !important;
}
#bbpress-forums .status-category .bbp-forums-list li {
    display: block;
}
#bbpress-forums li.bbp-body ul.forum.status-category {
    background: transparent !important;
    border: 0px !important;
}

#bbpress-forums div.topic-author div.bbp-author-role {
    background: url(../img/topic-author.png) repeat !important;
    font-size: 0px !important;
    height: 17px !important;
    margin-left: 0px !important;
}

div.topic-author a {
    color: #eee !important;
}

#bbpress-forums div.topic-author a.bbp-author-name {
    color: #eeeddd !important;
}
.status-category .bbp-forum-topic-count {
    margin-top: 15px !important;
    border-color: #ddd !important;
}
.status-category .bbp-forum-reply-count {
    margin-top: 15px !important;
    border-color: #ddd !important;
}
.status-category .bbp-forums-list {
    border: 1px solid #eee !important;
    width: 2000%;
    margin-left: -1px !important;
    padding: 10px !important;
}
.status-category .bbp-forum-content {
    background: rgba(40,40,40,1);
    width: 230% !important;
    padding: 10px !important;
    color: #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#bbpress-forums li.bbp-body ul.topic {
    padding-left: 10px !important;
}
#bbpress-forums li.bbp-body ul.status-category {
    padding-left: 0px !important;
}
.bbp-body {
    background: rgba(32, 35, 38, 1) !important;
}
.status-category .bbp-forum-title {
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    color: #ddd !important;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
#bbpress-forums div.bbp-admin-reply {
    background-color: rgba(22, 38, 63, 1) !important;
    background: rgba(22, 38, 63, 1) !important;
}
#bbpress-forums div.bbp-the-content-wrapper {
    margin-bottom: 10px !important;
    border: 1px solid #ddd !important;
    margin: 5px !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
}
/* New rules */
#bbp-user-navigation a:hover {
    background: #bbb !important;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/* bbpress.min.css (1, 17746) */
/*media screen*/
#bbpress-forums #bbp-user-wrapper h2.entry-title {
    font-size: 3em;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 0px;
    clear: none;
}

/* bbpress.min.css (1, 18842) */
/*media screen*/
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
    background: #ccc !important;
    opacity: 1 !important;
    color: #444 !important;
    border: 1px solid rgba(40, 40, 40, 0.1);
}

/* bbpress.min.css (1, 18900) */
/*media screen*/
#bbpress-forums #bbp-user-body {
    margin-left: 180px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
    height: 100%;
}

.status-category .bbp-forum-title {
    font-weight: bold;
    padding: 12px;
    font-size: 16px !important;
    text-transform: uppercase;
}
.status-category .bbp-forum-topic-count, .status-category .bbp-forum-reply-count {
    margin-top: 3px !important;
    border-color: #555 !important;
    font-size: 12px !important;
}
.status-category .bbp-forum-title {
    padding: 0 10px;
}
.bbp-topic-meta {
    margin-top: 5px !important;
}
.status-category .bbp-forum-content {
    min-height: 40px;
}
.status-category .avatar {
    display: none;
}
.status-category .bbp-forum-content {
    background: rgba(0,0,0,0.7);
}
#bbpress-forums li.bbp-header, #bbpress-forums fieldset.bbp-form legend, .bbp-topic-title h3 {
    width: auto !important;
}