.bbp-admin-topic .topic-author {
    background-color: rgba(22, 38, 63, 1) !important;
    border-left: 2px solid #1b61bf !important;
}
.bbp-admin-topic .bbp-reply-position-1 .bbp-reply-content {
    background: rgba(35, 50, 72, 1) !important;
    margin-right: -15px;
}
.bbp-admin-topic .topic-author {
    color: #ddd !important;
}
.user-id-1 {
    border-top: 2px solid rgb(27, 97, 191) !important;
    border-top-left-radius: 3px !important;
    border-left: 0px !important;
}
#bbpress-forums div.user-id-1.reply::before {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
    margin-top: 1px;
    border-color: rgba(255, 255, 255, 0.15);
    border-right-width: 0px;
}
#bbpress-forums .user-id-1.reply::before {
    content: "Administrator";
    display: block;
    float: right;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1);
    padding: 2px;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    cursor: default;
}
.bbp-admin-topic .topic-author a {
    color: #fff !important;
}
.bbp-admin-topic .topic-author .bbp-signature {
    color: rgba(255, 255, 255, 0.8) !important;
}
.bbp-admin-topic .reply .bbp-signature {
    color: #777 !important;
}
.bbp-admin-topic .reply a {
    color: #777 !important;
}
.bbp-admin-topic .reply {
    color: #333 !important;
}
.bbp-admin-topic .reply {
    background: #fff !important;
}
.bbp-admin-reply .reply {
    color: #ddd !important;
}
.bbp-admin-reply .bbp-signature {
    color: rgba(255, 255, 255, 0.8) !important;
}
.bbp-admin-reply .reply .bbp-signature {
    color: rgba(255, 255, 255, 0.8) !important;
}
/*media all*/
.bbp-admin-topic .topic-author {
    background-color: rgba(22, 38, 63, 1) !important;
    border-left: 2px solid #1b61bf;
}
/*media screen*/
body.reply-edit .reply a {
    color: #000 !important;
}
body.reply-edit .reply {
    color: #000 !important;
}
body.reply-edit .reply h3 {
    color: #000 !important;
}
.type-topic .bbp-admin-topics {
    border-left: 2px solid #1b61bf !important;
}